.employees {
  padding: 20px 0;

  .employee {
    img {
      display: block;
      max-width: 280px;
      max-height: 280px;
      width: auto;
      height: auto;
      padding: 20px 0;
    }

    &__info {
      text-align: justify;
    }
  }
}